.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-family: var(--textContact);
  font-size: 4rem;
  letter-spacing: 2px;
}

.subtitle {
  text-align: center;
  margin-top: 10px;
  font-family: var(--textSite);
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.formContainer {
  display: flex;
}

.label {
  color: white;
  font-size: 14px;
  margin-top: 10px;
  font-family: var(--textSite);
}

.input {
  z-index: 1;
  width: 650px;
  height: 50px;
  background-color: #2c2c2c;
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.input::placeholder {
  color: white;
  opacity: 0.4;
}

.input:focus {
  animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 0px 0px #aa00ff, 2px 2px 0px 0px #3700ff;
  }
  25% {
    box-shadow: -2px 2px 0px 0px #aa00ff, 2px -2px 0px 0px #3700ff;
  }
  50% {
    box-shadow: 2px 2px 0px 0px #aa00ff, -2px -2px 0px 0px #3700ff;
  }
  75% {
    box-shadow: 2px -2px 0px 0px #aa00ff, -2px 2px 0px 0px #3700ff;
  }
  100% {
    box-shadow: -2px -2px 0px 0px #aa00ff, 2px 2px 0px 0px #3700ff;
  }
}

.p {
  margin-top: 10px;
}

.textarea {
  z-index: 1;
  background-color: #2c2c2c;
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: white;
  margin-top: 10px;
  resize: none;
  overflow: scroll-y;
  height: 300px;
}

.button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  margin-top: 10px;
  width: 650px;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    320deg,
    rgba(0, 140, 255, 0.678),
    rgba(128, 0, 128, 0.308)
  );
  z-index: 1;
  transition: background 3s;
}

.button:hover::before {
  animation: rotate 1s;
  transition: all 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.partRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1075px) {
  .title {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .input,
  .button {
    width: 500px;
  }
}

@media screen and (max-width: 547px) {
  .title {
    font-size: 1.7rem;
  }

  .subtitle {
    font-size: 0.6rem;
  }

  .input,
  .button {
    width: 400px;
  }
  .textarea {
    height: 150px;
  }
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 0.5rem;
  }

  .input,
  .button {
    width: 350px;
  }
}
@media screen and (max-width: 372px) {
  .title {
    font-size: 1.1rem;
  }

  .subtitle {
    font-size: 0.5rem;
  }

  .input,
  .button {
    width: 300px;
  }
}
